/* View All Courses CSS */

.view-courses table {
	border-radius:3px;
	border-collapse: collapse;
	padding:5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	text-align: center;
}
 
.view-courses  th {
  color:#D5DDE5;;
  background:#7e858c;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #5e6469;
  padding:5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.view-courses th:first-child {
  border-top-left-radius:3px;
}
 
.view-courses th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.view-courses tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  background-color: #F4F4F4;
  font-size:12px;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.view-courses tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  /*border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
  height: 19px;*/
}
 
.view-courses tr:first-child {
  border-top:none;
  background-color: #666666;
}

.view-courses tr:last-child {
  border-bottom:none;
}
 
.view-courses tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
.view-courses tr:nth-child(odd):hover td {
  background:#4E5066;
}

.view-courses tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.view-courses td {
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
  height: 20px;
}

.view-courses td:last-child {
  border-right: 0px;
}

.view-courses td, .view-courses th {
	width: 100px;
}

.view-courses td.small, .view-courses th.small {
	width: 40px
}

.view-courses span  {
	font-size: 16px;
	color: grey;
}

.view-courses td a  {
	display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    padding-top:3px;
}

/* Assign Page CSS */
span.assign {
font-size: 20px !important;
color: rgb(136, 136, 136) !important;
text-shadow: 1px 1px 1px rgb(255, 255, 255) !important;
text-align: left !important;
margin-top: 6px !important;
margin-right: -15px !important;
}

.assign-table {
	margin-bottom: 20px;
}

.assign-table td{
	padding-right: 45px;
}

.assign-table input[type=textbox] {
	margin: 0px;
	width: 100%
}

label.last {
	width:230%;
}

.standard-form select[name="course"] {
	display:inline;
}

.standard-form div.inline {
	display:inline;
	margin-left: 25px;
}

select.prof {
	width: 230px;
}

form.no-border {
	margin-top: -15px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

div.not-found {
	text-align: center;
	font-size: 16px;
	font-weight: bold;	
}
