#profile {
	font-weight: normal;
	font-size: 150%;
	color: black;
}

#name {
	color: black;
	font-size: 1.5em;
}

#content {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	color: #6b6b6b;
	font-weight: bold;
}

#image {
	float: left;
	position: relative;
	top: 83px;
	left: 110px;
}

#image input[type="file"] {
	width: 90px;
	font-size: 16px;
	margin-left: 20px;
}

#image img {
	width: 122px;
	height: 146px;
}

#name-form {
	margin-left: 150px;
}

#contact {
	color: black;
	font-size: 16px;
}

#contact-form {
	float: left;
	width: 230px;
}

#contact-form2 {
	margin-left: 325px;
	margin-right: -60px;
}

#contact-form3 {
	
}

div.section {
	font-size: 20px;
	margin: 15px 0px;
}

h1.heading {
	padding-left: 28px;
}

#contact-form3 select {
	width: 55px;
}

#contact-form3 .separator {
	float: none;
	display: inline;
	margin-right: -7px;
	margin-left: -14px;
}