#navbar > ul,
#navbar > ul li,
#navbar > ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navbar > ul {
  position: relative;
  z-index: 597;
  float: left;
}
#navbar > ul li {
  float: left;
  min-height: 1px;
  line-height: 1.3em;
  vertical-align: middle;
  margin-left:50px;
}
#navbar > ul li.hover,
#navbar > ul li:hover {
  z-index: 599;
}
#navbar > ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
}
#navbar > ul ul li {
  float: none;
}
#navbar > ul li:hover > ul {
  visibility: visible;
}
/* Align last drop down RTL */
/* Theme Styles */
#navbar > ul a:link {
  text-decoration: none;
}
#navbar > ul a:active {
  color: #ffa500;
}
#navbar li {
  padding: 0;
  color: #000;
}
#navbar {
  background: #ffbc00;
  font-size: 13px;
}
#navbar > ul {
  padding: 0 5px;
  display: block;
  float: none;
}
#navbar > ul:before {
  content: '';
  display: block;
}
#navbar > ul:after {
  content: '';
  display: table;
  clear: both;
}
#navbar > ul > li {
  padding: 8px 5px;
}
#navbar > ul > li > a,
#navbar > ul > li > a:link,
#navbar > ul > li > a:visited {
  text-shadow: 0 -1px 1px #004881;
  color: #fff;
  padding: 7px 20px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#navbar > ul > li > a:hover,
#navbar > ul > li:hover > a, a.selected {
  background-color: #ff9e00;
}
#navbar li li a {
  color: #8b8b8b;
  font-size: 13px;
}
#navbar li li a:hover {
  color: #5c5c5c;
  border-color: #5c5c5c;
}
#navbar ul ul {
  margin: 0 10px;
  padding: 0 10px;
  float: none;
  background: #efefef;
  border: 2px solid #ffcb00;
  border-top: none;
  right: 0;
  left: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
#navbar ul > li > ul > li {
  margin: 0 7px 0 0;
  position: relative;
  padding: 0;
  float: left;
}
#navbar ul > li > ul > li > a {
  padding: 10px 20px 10px 10px;
  display: block;
}
#navbar ul > li > ul > li.has-sub > a:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #8b8b8b;
}
#navbar ul > li > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #5c5c5c;
}
#navbar ul ul ul {
  width: 100px;
  top: 100%;
  border: 2px solid #ffcb00;
}
#navbar ul ul ul li {
  float: none;
}
