#left-nav {
    width:200px;
    float:left;
    padding-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
}
#main-section {
    width:350px;
    float:left;
    padding:10px;
}

#footerRJP {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

.clear {
	clear: both;
}
.boxedResult {
	border: 1px solid grey;
	padding: 7px;
	color: grey;
}

h1.heading {
	font-size: 20px;
	padding-left: 15px;
}

div#left-nav input[type=text]{
	width:100%;
}

div.search {
	margin-left:15% !important;
}

div#main-section label {
	color: grey;
}

div.name-heading {
	font-size: 18px;
	display: inline;
	margin-left: 20px;
	color: grey;
}