table#schedule {
	border-spacing:0px;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

table#schedule th {
	color: grey;
	background: white;
	font-size: 18px;
}

table#schedule td,
table#schedule tr {
	border: 1px solid #EEEEEE;
}
table#schedule td:first-child,
table#schedule th:first-child {
	padding:10px;
	text-align: center;
	color:grey;
}

.course {
	background: #ffbc00;
	color: white;
	text-align: center;
	padding: 5px;
}

.standard-form {
	margin: 0;
	padding: 0;
	border: none;
	margin-bottom: 10px !important;
}

.standard-form .submit {
	margin: 0;
}

.standard-form select {
	width: 85%;
}

.standard-form, .standard-form .submit, .standard-form .course {
	display:inline;
}

div.success-msg {
	display:none;
}

/* 
* Print Preview Style 
* Must be at the End of File 
*/
@media print {
	* { margin: 0 !important; }
	div#header, select, input { display:none; }
	div#main-container { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
	div#content { margin-top: 50mm !important; }
	.course { color: black; font-weight: bold; }
}