table#schedule {
	border-spacing:0px;
	border-collapse: collapse;
	width: 100%;
}

table#schedule th {
	color: grey;
	background: white;
	font-size: 18px;
}

table#schedule td,
table#schedule tr {
	border: 1px solid #EEEEEE;
}
table#schedule td:first-child,
table#schedule th:first-child {
	padding:10px;
	text-align: center;
	color:grey;
}

.course {
	background: #ffbc00;
	color: white;
	text-align: center;
	padding: 5px;
}

.standard-form {
	margin: 0;
	padding: 0;
	border: none;
	margin-bottom: 10px !important;
}

.standard-form .submit {
	display:inline;
	margin: 0;
}

.standard-form select {
	width: 45%;
}